{% extends "blog/base.html" %}

{% block content %}

<div class="cover-container">
    <main role="main" class="inner cover mx-auto" style="width:50%;">
    <h1 class="cover-heading mx-auto" style="width:50%;">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead mx-auto" style="width:30%;">
            <a href="#" class="btn btn-lg btn-secondary" >Learn more</a>
        </p>
    </main>
</div>

{% endblock %}

